.field-wrapper {
    display: contents;
}

.invalid-feedback {
    font-size: 12px;
    color: #8e1728;
    margin-bottom: 5px;
}

.btn-red {
    cursor: pointer;
    transition: all .3s
}

.btn-red:hover {
    background: #ba1b31;
}

.login-visual {
    background: url('/images/home/campus-night.jpg') center/cover
}

.success-message {
    color: #19aa19;
}

.o1-hero {
    background: url(/images/home/graduates-close.jpg) center / cover no-repeat !important;
}

.program-tile.two {
    background: url(/images/home/student-discussion.jpg) center/cover !important;
}

.login-visual {
    background-image: url(/images/home/campus-night.jpg) !important;
}